<h1>Productos en tiempo real</h1>

<ul id="productList">
    {{#each products}}
    <li>
        ID: {{this.id}} | {{this.title}} - ${{this.price}}
    </li>
    {{/each}}
</ul>

<h2>Agregar producto</h2>

<form id="productForm">

    <input type="text" id="title" placeholder="Nombre del producto" required>

    <input type="number" id="price" placeholder="Precio" required>

    <button type="submit">
        Agregar producto
    </button>

</form>

<h2>Eliminar producto</h2>

<form id="deleteForm">

    <input type="number" id="deleteId" placeholder="ID del producto" required>

    <button type="submit">
        Eliminar producto
    </button>

</form>


<script src="/socket.io/socket.io.js"></script>

<script>

    const socket = io(); // conectar al servidor de Socket.IO

    socket.on("connect", () => {
        console.log("Conectado al servidor por websocket");
    });




    //! --- FORMULARIO ---
    const form = document.getElementById("productForm");

    form.addEventListener("submit", (e) => {

        e.preventDefault();

        const title = document.getElementById("title").value;
        const price = document.getElementById("price").value;

        const product = {
            title,
            price: Number(price)
        };

        // enviar producto al servidor
        socket.emit("newProduct", product);

        form.reset(); // limpiar el formulario

    });




    //! --- ACTUALIZAR PRODUCTOS ---
    const productList = document.getElementById("productList");

    // escuchar actualizaciones de productos desde el servidor
    socket.on("updateProducts", (products) => {

        productList.innerHTML = "";

        products.forEach(product => {

            const li = document.createElement("li");

            li.textContent = `ID: ${product.id} | ${product.title} - $${product.price}`; // mostrar ID, título y precio

            productList.appendChild(li); // agregar el producto a la lista

        });

    });





    //! --- ELIMINAR PRODUCTO ---
    const deleteForm = document.getElementById("deleteForm");

    deleteForm.addEventListener("submit", (e) => {

        e.preventDefault(); // evitar recarga de página

        const id = Number(document.getElementById("deleteId").value); // obtener el ID del producto a eliminar

        socket.emit("deleteProduct", id); // enviar el ID del producto a eliminar al servidor

        deleteForm.reset(); 

    });

</script>